<div class="jumbotron text-center bg-red">
<h1>About Jungle</h1>
<p>We specialize in procuring the most weirdly awesome and unreasonably expensive products you'll never need but will most likely want.</p>
</div>


<div class="container-fluid">
  <h2>What do we <strong>REALLY</strong> do?</h2>
  <h4>We really just want to sell the hipster starter set, everything else is priced really high in case we get 'lucky'</h4>
</div>

<div class="container-fluid bg-grey">
  <h2>Our Values</h2>
  <h4><strong>MISSION:</strong> Our mission is to equip the world with the hipster starter set and maybe a set of modern skateboards</h4>
  <p><strong>VISION:</strong> Our vision is 20/20 because of the glasses featured in the hipster hat image. We may or may not consider selling this Jungle exclusive item! Contact us for more details!"</p>
  <button class="btn btn-default btn-lg">Get in Touch</button>
</div>